doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href='/css/style.css')
    link(rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    block startScripts
      script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js' type='text/javascript')
  body
    block header
      div.header#mainHeader
        h2 #{title}
    block content
    block footer
      
block endScripts
  script(src='/js/functions.js')
