extends default.pug

block content
  div.main
    a(href="/nanoleaf1")
      div.nanoleaf.wrapper
        div.nanoleaf.top
          | Nanoleaf 1
          p.nanoleaf.arrow >
        div.nanoleaf.bottom
          | Real information
    a(href="/nanoleaf2")
      div.nanoleaf.wrapper
        div.nanoleaf.top
          | Nanoleaf 2
          p.nanoleaf.arrow >
        div.nanoleaf.bottom
          | Real information
    a(href="/add")
      div.nanoleaf.button Add Device
